* {
  box-sizing: border-box;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.flex-item-1 {
  background-color: $f1f1f1;
  padding: 10px;
  margin: 5px;
  flex: 45%;
  flex-grow: 0;
}
.flex-item-2 {
  /* background-color: white; */
  padding: 10px;
  flex: 45%;
  /* flex-grow: 0; */
}
.flex-item-2 h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 10px;
}
.flex-item-2 p {
  font-size: 1.2rem;
  padding: 0.25rem;
}
img.rounded-corners {
  border-radius: 30px;
}
span.movieGenre {
  padding: 12px;
  margin: 0 10px;
  border: 1px solid #424242;
  border-radius: 12px;
  background-color: purple;
  color: white;
}
a.homepage {
  font-size: 1.2rem;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
